pkgbase = pcbox-roms-git
	pkgdesc = ROMs for the 86Box emulator
	pkgver = 20220701
	pkgrel = 1
	url = https://github.com/86Box/roms
	arch = any
	license = custom
	makedepends = git
	provides = pcbox-roms
	conflicts = 86box-roms
	options = !strip
	source = pcbox-roms-git::git+https://github.com/PCBox/roms.git
	sha512sums = SKIP

pkgname = pcbox-roms-git
