pkgbase = pcbox-roms-git
	pkgdesc = ROMs for the PCBox emulator
	pkgver = ad149bfe0e9421e3cd23b43b291ee01f9de41a01
	pkgrel = 1
	url = https://github.com/PCBox/roms
	arch = any
	license = custom
	makedepends = git
	provides = pcbox-roms
	conflicts = 86box-roms
	options = !strip
	source = pcbox-roms-git::git+https://github.com/PCBox/roms.git
	sha512sums = SKIP

pkgname = pcbox-roms-git
